.width-box{
    width: 80%;
    margin: auto;
}

//<!-- ------------------------------------------------------ -->


//<!-- ---------------------About Us Start------------------- -->

.aboutUs-e {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    .text-side {
        padding: 50px 0;
        margin: 200px 0 100px 0;

        h1 {
            font-size: 36px;
            line-height: 50.4px;
            font-weight: 700;
            color: #262A37;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 700;
            color: #262A37;
            margin-bottom: 11px;
            margin-top: 30px;
        }

        h5 {
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            color: #EF306F;
            margin-bottom: 10px;

        }

        p {
            font-size: 14px;
            line-height: 25.2px;
            font-weight: 400;
            color: rgb(113, 108, 128);
            margin-bottom: 15px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            font-family: Inter, sans-serif;
            text-decoration: none;
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            transition: 300ms ease-in;
            color: white;
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
            border-radius: 50px;
            padding: 17px 35px;

            &:hover {
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ed2775 94.18%);
            }

            &:last-child {
                background: none;
                border-radius: 0;
                padding: 0;
                margin: 17px 15px;
                color: #262a37;
                position: relative;

                &:hover {
                    color: rgb(237, 39, 117);

                    &::before {
                        width: 0%;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 1px;
                    background-color: #262A37;
                    transition: 300ms ease-in;
                }
            }
        }
    }

    .image-side {
        height: 800px;
        position: relative;
        text-align: center;

        &::before {
            position: absolute;
            content: "";
            top: 23%;
            left: 0;
            bottom: 10px;
            border-radius: 50%;
            background: linear-gradient(76.8deg, #2ba6ac, #36ce83 53.03%, #42e695);
            width: 585px;
            height: 585px;
        }

        img {
            position: absolute;
            bottom: 2%;
            left: 5%;
            width: 90%;
            transition: 2s;

        }

        &:hover {
            img {
                transform: rotate(-15deg);
            }
        }

    }
}

//<!-- ---------------------About Us End--------------------- -->


//<!-- ------------------------------------------------------ -->


//<!-- ---------------------Total Start---------------------- -->

.total-e {
    .about-box {
        margin: 70px 0;
        padding: 25px 0;
        text-align: center;
        color: white;

        &.first {
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
        }

        &.second {
            background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
        }

        &.third {
            background: linear-gradient(44.44deg, #3f75ff 7.79%, #4adeff 94.18%);
        }

        &.forth {
            background: linear-gradient(44.44deg, #ff4b3f 7.79%, #ffac30 94.18%);
        }


        i {
            font-size: 55px;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;

        }

        h2 {
            font-size: 40px;
            font-weight: 700;
        }
    }
}

//<!-- ---------------------Total End------------------------ -->


//<!-- ------------------------------------------------------ -->


//<!-- -------------------Progress Start--------------------- -->

.progress-e {
    background-color: black;
    .photo-side {
        height: 680px;
        position: relative;

        .img-1 {
            position: absolute;
            top: 20px;
            width: 85%;
            z-index: 1;
            transform: scale(1);
            animation: anime 4s ease-in-out infinite;

        }

        .img-2 {
            position: absolute;
            right: 14px;
            top: 110px;
            z-index: 3;
            transform: scale(1);
            animation: anime 4s ease-in-out infinite;


        }

        .img-3 {
            position: absolute;
            top: 90px;
            left: 50px;
            z-index: 3;
            transform: scale(1);
            animation: anime 4s ease-in-out infinite;

        }

        .img-4 {
            position: absolute;
            z-index: 2;
            top: 220px;
            right: 86px;
            transform: scale(1);
            animation: anime 4s ease-in-out infinite;


        }

        @keyframes anime {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.95);

            }

            100% {
                transform: scale(1);

            }
        }
    }

    .text-side {
        margin: 200px 0;
        h1 {
            font-size: 36px;
            line-height: 50.4px;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            color: #EF306F;
            margin-bottom: 10px;

        }

        p {
            font-size: 14px;
            line-height: 25.2px;
            font-weight: 400;
            color: #E5E5E5;
            margin-bottom: 15px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            font-family: Inter, sans-serif;
            text-decoration: none;
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            transition: 300ms ease-in;
            color: white;
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
            border-radius: 50px;
            padding: 17px 35px;

            &:hover {
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ed2775 94.18%);
            }
        }

    }
}

//<!-- -------------------Progress End----------------------- -->


//<!-- ------------------------------------------------------ -->


//<!-- -----------------------Map Start---------------------- -->

.map-e {
    .title {
        padding: 100px 0 50px 0;
        font-family: Inter, sans-serif;

        h5 {
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h1 {
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 50.4px;
            color: rgb(38, 42, 55)
        }
    }

    .section-image {
        margin-bottom: 50px;
    }
}

//<!-- ----------------------Map End------------------------- -->


//<!-- ------------------------------------------------------ -->


//<!-- --------------------Software Start-------------------- -->

.software-e {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    background: linear-gradient(279.99deg, #ff9f5a -1.19%, #ff54b0 50.99%, #9f5ff1);

    .text-side {
        margin: 200px 0;

        h1 {
            font-size: 36px;
            line-height: 50.4px;
            font-weight: 700;
            color: White;
            margin-bottom: 15px;
        }


        h5 {
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            color: white;
            margin-bottom: 10px;

        }

        p {
            font-size: 14px;
            line-height: 25.2px;
            font-weight: 400;
            color: #FDEFF8;
            margin-bottom: 15px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            font-family: Inter, sans-serif;
            text-decoration: none;
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            transition: 300ms ease-in;
            color: white;
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
            border-radius: 50px;
            padding: 17px 35px;

            &:hover {
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ed2775 94.18%);
            }


        }
    }

    .animasyon-side {
        padding: 200px 0;
        position: relative;

        .image-box {
            position: absolute;
            background-color: white;
            border-radius: 100px;
        }

        img {
            padding: 20px;
            animation: ani-2 4s ease-in-out infinite;
        }

        .image-1 {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                animation: none;
            }
        }

        .image-2 {
            top: 13%;
            left: 25%;
            transform: translate(-50%, -50%);

            img {
                padding: 25px;
            }
        }

        .image-3 {
            top: 75%;
            left: 23%;
            transform: translate(-50%, -50%);
        }

        .image-4 {
            top: 93%;
            left: 57%;
            transform: translate(-50%, -50%);

            img {
                padding: 23px 20px;
            }
        }

        .image-5 {
            top: 65%;
            left: 82%;
            transform: translate(-50%, -50%);
        }

        .image-6 {
            top: 17%;
            left: 70%;
            transform: translate(-50%, -50%);

            img {
                width: 100%;
                padding: 15px;
            }
        }

        .image-7 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                padding: 30px;
            }
        }

        .animation {
            position: absolute;
            top: 20%;
            left: 80%;
            transform: translate(-50%, -50%);
            animation: ani-1 15s infinite;

        }

        @keyframes ani-1 {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(360deg);
            }

        }

        @keyframes ani-2 {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.80);

            }

            100% {
                transform: scale(1);

            }
        }
    }
}

//<!-- --------------------Software End---------------------- -->


//<!-- ------------------------------------------------------ -->


//<!-- ----------------------Team Start---------------------- -->

.team-e {
    font-family: Inter, sans-serif;

    .title-box {
        padding-top: 100px;

        h5 {
            text-align: center;
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            color: #EF306F;
            margin-bottom: 10px;

        }

        h2 {
            text-align: center;
            font-size: 36px;
            line-height: 50.4px;
            font-weight: 700;
            color: rgb(38, 42, 55);
            padding: 10px 40px;
        }
    }

    .team-box {
        padding-bottom: 100px;

        .img-box-45 {
            border-radius: 5px;
            margin-left: 40px;
            position: relative;
            margin-top: 50px;
            transform: rotate(45deg);
            overflow: hidden;
            width: 120px;
            height: 120px;

            .img-box {
                position: absolute;
                top: -26px;
                left: -25px;
                transform: rotate(-45deg);
                width: 170px;
                height: 170px;
            }

            .image-0 {
                background: url(/images/team1.jpeg);
                background-position: bottom;
                background-size: cover;
            }

            .image-1 {
                background: url(/images/team2.jpeg);
                background-position: bottom;
                background-size: cover;
            }

            .image-2 {
                background: url(/images/team3.jpeg);
                background-position: bottom;
                background-size: cover;
            }

            .image-3 {
                background: url(/images/team4.jpeg);
                background-position: bottom;
                background-size: cover;
            }

            .image-4 {
                background: url(/images/team5.jpeg);
                background-position: bottom;
                background-size: cover;
            }

            .image-5 {
                background: url(/images/team6.jpeg);
                background-position: bottom;
                background-size: cover;
            }
        }

        h3 {
            text-align: center;
            text-transform: capitalize;
            padding-top: 50px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: rgb(38, 42, 55);
        }

        p {
            text-transform: capitalize;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: rgb(113, 108, 128);
            text-align: center;

        }

    }
}

//<!-- ----------------------Team End------------------------ -->


//<!-- ------------------------------------------------------ -->


//<!-- --------------------Partners Start-------------------- -->

.partners-e {
    background-color: #F9F9F9;

    .container {
        padding: 30px 0 15px 0;
        overflow: hidden;

        h1 {
            font-family: Inter, sans-serif;
            font-size: 18px;
            line-height: 21px;
            font-weight: 400;
        }

        .slider {
            animation: slidein 30s linear infinite;
            white-space: nowrap;

            .logos {
                width: 100%;
                display: inline-block;

                img {
                    margin: 50px;
                    width: calc(100% / 8);
                    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
                }
            }
        }
    }

    @keyframes slidein {
        0% {
            transform: translate3d(0, 0, 0);
        }

        50% {
            transform: translate3d(-70%, 0, 0);

        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

//<!-- --------------------Partners End---------------------- -->


//<!-- ------------------------------------------------------ -->


//<!-- ---------------------Client Start--------------------- -->

.client-e {
    font-family: Inter, sans-serif;

    .title-box {
        padding: 100px 0 50px 0;

        h5 {
            text-align: center;
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            color: #EF306F;
            margin-bottom: 10px;

        }

        h2 {
            text-align: center;
            font-size: 36px;
            line-height: 50.4px;
            font-weight: 700;
            color: rgb(38, 42, 55);
            padding: 10px 40px;
            width: 60%;
            margin: auto;
        }
    }

    .slider-box {
        .user{
            .img-box{
                border-radius: 100%;
                width: 20%;
                img{
                    border-radius: 100%;
                }
            }
            .subject-box{
                padding-left: 20px;
                width: 80%;
                h3{
                    font-size: 18px;
                    line-height: 21.6px;
                    font-weight: 700;
                    color: rgb(38, 42, 55);
                }
                p{
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    color: rgb(237, 39, 117);
                }
            }
            .text-box{
                padding: 20px 0;
                p{
                    font-size: 16px;
                    line-height: 28.8px;
                    font-weight: 400;
                    color: rgb(113, 108, 128);
                }
            }
            h4{
                font-size: 16px;
                line-height: 19.2px;
                font-weight: 700;
                color: rgb(38, 42, 55);
            }
            .review-box{
                i{
                    color: #FFCA40;
                }
            }
        }
        .select{
            padding: 30px 0 100px 0;
            text-align: center;
            color: #E8F0FF;
            i:nth-child(2){
                background: linear-gradient(279.99deg,#9f5ff1 -1.19%,#ff54b0 50.99%,#ff9f5a);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            i:hover{
                background: linear-gradient(279.99deg,#9f5ff1 -1.19%,#ff54b0 50.99%,#ff9f5a);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

//<!-- ---------------------Client End----------------------- -->


//<!-- ------------------------------------------------------ -->