
#footer-1{
    position: relative;
    z-index: 1;
    background-color: #262B37;
    font-family: Inter, sans-serif;
    height: 70vh;

    .footer-top {
        position: absolute;
        width: 70%;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);

        p {
            padding: 10px 0;
            font-size: 14px;
            line-height: 25.2px;
            font-weight: 400;
            color: white;
        }

        .fa-brands {

            padding: 10px;
            background-color: white;
            color: #716C80;
            border-radius: 100px;
            transition: 250ms ease-in;

            &.fa-facebook-f {
                padding: 10px 13px;
            }

            &.fa-linkedin-in {
                padding: 10px 11px;

            }

            &:hover {
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
                color: white;
            }
        }


        h3 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: white;
        }

        .inp-box {
            border: 1px solid #ed2775;
            width: 300px;
            background-color: white;

            input {
                padding: 15px 10px;
                width: 100%;
                outline: none;
                border: none;
            }

            a {
                position: relative;
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
                width: 30%;
                height: 45px;
                margin-right: 5px;
                transition: 250ms ease-in;
                background-color: white;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
            }
        }

        ul {
            li {
                &:first-child {
                    text-transform: capitalize;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                    color: white;
                    margin-bottom: 20px;
                }

                a {
                    text-transform: capitalize;
                    display: inline-block;
                    padding: 8px 0;
                    text-decoration: none;
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    color: white;
                    transition: 250ms ease-in;

                    &:hover {
                        color:
                            rgb(244, 119, 168)
                    }
                }
            }
        }
        .footer-bottom {
            margin-top: 80px;
            padding: 25px 0 15px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.136);
            text-align: center;
    
            p {
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
                color: white;
                letter-spacing: 0.5px;
    
                a {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 500;
                    color: #ED2775;
                    text-decoration: none;
                    letter-spacing: 0.5px;
                }
            }
    
        }
    }


    .footer-background {
        background-color: #262B37;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        width: 100%;
    }
}

#footer-2{
    background-color: #262B37;
    .footer{
        text-align: center;
        padding: 110px 0 50px 0;

        .img-link{
            display: block;
        }

        a{
            i {
                margin: 30px 0;
                padding: 10px;
                background-color: #3D4353;
                color: white;
                border-radius: 100px;
                transition: 250ms ease-in;
                &.fa-facebook-f {
                    padding: 10px 13px;
                }
    
                &.fa-linkedin-in {
                    padding: 10px 11px;
    
                }
                &:hover {
                    background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
                    color: rgb(176, 178, 185);
                }
            }
        }
        ul {
            border-top: 1px solid rgba(255, 255, 255, 0.136);
            li {
                padding: 40px 0;
                a {
                    text-transform: capitalize;
                    display: inline-block;
                    padding: 0 14px;
                    text-decoration: none;
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    color: rgb(202, 202, 204);
                    transition: 250ms ease-in;

                    &:hover {
                        color:
                            rgb(244, 119, 168)
                    }
                }
            }
        }
        p {
            font-size: 14px;
            line-height: 22.5px;
            font-weight: 400;
            color: white;
            letter-spacing: 0.5px;

            a {
                font-family: Inter, sans-serif;
                display: inline-block;
                font-size: 14px;
                line-height: 25px;
                font-weight: 500;
                color: white;
                text-decoration: none;
                letter-spacing: 0.5px;
                transition: 250ms ease-in;
                &:hover{
                    color: #ED2775;
                }
            }
        }
    }
}

#footer-3{
    background-color: #F4F8FC;
    font-family: Inter, sans-serif;

    .footer-top {
        padding-top: 80px;

        .logo-side{
            margin-top: 5px;
        }

        p {
            padding: 10px 0;
            font-size: 14px;
            line-height: 25.2px;
            font-weight: 400;
            color: rgb(113, 108, 128);
        }

        .fa-brands {

            padding: 10px;
            background-color: white ;
            color: #716C80 ;
            border-radius: 100px;
            transition: 250ms ease-in;

            &.fa-facebook-f {
                padding: 10px 13px;
            }

            &.fa-linkedin-in {
                padding: 10px 11px;

            }

            &:hover {
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
                color: white;
            }
        }


        h3 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: #262a37;
        }

        .inp-box {
            width: 300px;
            background-color: white;
            transition: 250ms ease-in;
            border: 1px solid white;

            input {
                padding: 15px 10px;
                width: 100%;
                outline: none;
                border: none;
            }

            a {
                position: relative;
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
                width: 30%;
                height: 45px;
                margin-right: 5px;
                transition: 250ms ease-in;
                background-color: white;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
            }
            &:hover{
            border: 1px solid #ed2775;
            }
        }

        ul {
            li {
                &:first-child {
                    text-transform: capitalize;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                    color:rgb(38, 42, 55);
                    margin-bottom: 15px;
                }

                a {
                    text-transform: capitalize;
                    display: inline-block;
                    padding: 6px 0;
                    text-decoration: none;
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    color: rgb(113, 108, 128);
                    transition: 250ms ease-in;

                    &:hover {
                        color:
                            rgb(244, 119, 168)
                    }
                }
            }
        }
        .footer-bottom {
            margin-top: 80px;
            padding: 25px 0 15px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.136);
            text-align: center;
    
            p {
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
                color: rgb(113, 108, 128);
                letter-spacing: 0.5px;
    
                a {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 500;
                    color:rgb(69, 67, 77) ;
                    text-decoration: none;
                    letter-spacing: 0.5px;
                    transition: 250ms ease-in;
                    &:hover{
                        color: #ED2775;
                    }
                }
            }
    
        }
    }

}