.texap {
    width: 100%;
    height: 100vh;
    background-image: url(/images/section1-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .banner-shape {
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 50%;
    }

    .banner-strock {
        position: absolute;
        right: 0;
        top: 0;
    }

    .back-text {
        position: absolute;
        left: 8%;
        top: 20%;

        h1 {
            font-size: 100px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.124);
        }
    }

    .text-box {
        position: absolute;
        top: 28%;
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        span {
            grid-column: 1 /span 3;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            color: #F0366B;
        }

        h1 {
            grid-column: 1 /span 3;
            font-size: 45px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
            line-height: 62px;
            color: rgba(0, 0, 0, 0.779);
            margin-top: 15px;

        }

        p {
            grid-column: 1 /span 3;
            grid-column: 1 /span 3;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.879);
            margin-top: 15px;

        }

        a {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 180px;
            // border: 2px solid red;
            text-align: start;
            margin-top: 15px;
            border-radius: 60px;
            background-color: #fff;
            padding: 8px 10px;
            text-decoration: none;
            position: relative;
            transition: 0.4s ease-in-out;

            &:last-child {
                margin-left: 20px;
            }

            &:hover {
                transform: translateY(-2px);
                background-color: #F0366B;

                p {
                    color: #fff;
                }

                span {
                    color: #fff;
                }
            }

            .icon {
                grid-column: 1;
                padding: 10px;
                position: absolute;
                margin-right: 30px;
                top: 6px;

            }

            p {
                grid-column: 2;
                margin: 5px 0;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.709);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                transition: 0.4s ease-in-out;
            }

            span {
                grid-column: 2;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                color: black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                transition: 0.4s ease-in-out;

            }
        }
    }

    .image-box {
        position: absolute;
        left: 50%;
        top: 38%;

        .big-image {
            width: 80%;
        }

        .anima1 {
            position: absolute;
            top: -20%;
            left: 10%;
            animation: anima 2.5s ease-in infinite;

        }


        .anima2 {
            position: absolute;
            top: -20%;
            left: 60%;
            animation: anima 2.5s ease-in infinite;

        }

    }

    @keyframes anima {
        0% {
            top: -20%;
        }

        50% {
            top: -25%;
        }

        100% {
            top: -20%;
        }
    }


}

// --------TEXAP END-------------


// ------------SUPPORT START----------

.support {
    width: 100%;
    padding-top: 10rem;

    .mini-box {
        text-align: center;
        background: linear-gradient(221.69deg, #50e1e4, #9a60ea 101.01%);
        transition: 0.4s ease-in-out;

        &:hover {
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
            transform: translateY(-4px);

            i {
                border-radius: 200px;
                border-bottom-right-radius: 0%;
            }

            h6 {
                background: linear-gradient(221.69deg, #50e1e4, #9a60ea 101.01%);
            }
        }

        i {
            font-size: 50px;
            padding: 25px 32px;
            color: #F0366B;
            background-color: white;
            border-radius: 200px;
            border-top-left-radius: 0;
            margin-top: 25px;
            text-align: center;
            position: relative;
            transition: 0.4s ease-in-out;

            h6 {
                font-weight: 600;
                display: inline-block;
                color: white;
                position: absolute;
                top: 30%;
                left: 90%;
                border-radius: 100px;
                background-color: #F0366B;
                padding: 5px;
                width: 30px;
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
                transition: 0.4s ease-in-out;
            }
        }

        h1 {
            font-size: 22px;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 28px;
            color: #fff;
            margin-top: 25px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #fff;
            width: 90%;
            margin: auto;
            padding: 20px 0 30px 0;
        }
    }
}

// -----------------SUPPORT END-------------

// -----------------ABOUT START-------------

.about {
    width: 100%;
    padding: 100px;
    position: relative;

    .about-anima {
        position: absolute;
        left: 5%;
        top: 10%;
        animation: about-anima 2.5s infinite;
    }

    .about-image {
        width: 90%;
        margin-top: 70px;

    }

    .about-text {
        width: 100%;

        span {
            font-size: 14px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 22px;
            color: #F0366B;
        }

        h1 {
            font-size: 40px;
            font-weight: 600;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 55px;
            color: #000;
            margin-top: 15px;
        }

        p {
            width: 100%;
            font-size: 15px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.589);
            margin-top: 18px;
        }
    }

    .icon-1 {
        margin-top: 20px;

        i {
            font-size: 25px;
            padding: 15px 19px;
            background: linear-gradient(180deg, #ed2775, #ff7448);
            color: #fff;
            border-radius: 20px;
            border-bottom-left-radius: 0%;
            margin-right: 20px;
        }

    }

    .icon-2 {
        margin-top: 20px;

        i {
            font-size: 22px;
            padding: 15px 16px;
            background: linear-gradient(221.69deg, #50e1e4, #9a60ea 101.01%);
            color: #fff;
            border-radius: 20px;
            border-bottom-left-radius: 0%;
            margin-right: 20px;
        }

    }

    .icons-text {
        margin-top: 20px;

        h1 {
            font-size: 17px;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.797);
        }

        p {
            font-size: 15px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.646);
            margin-top: 15px;
        }
    }

    .buttons {
        margin-top: 20px;

        .btn-1 {
            text-decoration: none;

            padding: 15px 32px;
            border-radius: 100px;
            background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            margin-right: 20px;
            transition: 0.4S ease-in-out;

            &:hover {
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ed2775 94.18%);

            }
        }

        .btn-2 {
            position: relative;
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.802);


            &:hover {
                &::after {
                    width: 0;
                }
            }

            &::after {
                content: "";
                position: absolute;
                border-bottom: 1px solid black;
                width: 100%;
                left: 0%;
                bottom: -5px;
                color: black;
                transition: 0.5s ease-in-out;
            }




        }
    }

    @keyframes about-anima {
        0% {
            top: 10%;
        }

        50% {
            top: 8%;
        }

        100% {
            top: 10%;
        }
    }
}

//--------------------FEATURES START-----------

.features {
    width: 100%;
    background-color: #F9F8FE;
    padding: 100px;


    .top-text {
        margin: auto;
        text-align: center;
       

        h1 {
            font-size: 14px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
            color: #f44663ec;
            letter-spacing: 3px;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(0, 0, 0, 0.797);
            width: 65%;
            margin: 0 auto 40px auto;
        }
    }

    .mini-box {
        text-align: center;
        border: 1px solid white;
        margin-top: 25px;
        background: transparent;
        transition: 0.5s ease-in-out;

        &:hover {

            background: linear-gradient(221.69deg, #50e1e4, #9a60ea 101.01%);


            i {
                background: linear-gradient(180deg, #ed2775, #ff7448);
                border-radius: 100px;
                border-bottom-right-radius: 0;
            }

            h1 {
                color: white;
            }

            p {
                color: white;
            }
        }

        i {
            font-size: 25px;
            color: white;
            background: linear-gradient(221.69deg, #50e1e4, #9a60ea 101.01%);
            border-radius: 100px;
            border-top-left-radius: 0;
            padding: 30px 30px;
            margin: 30px;
            animation: carusel2 4s ease-in-out infinite;
            transition: 0.4s ease-in-out;

        }

        h1 {
            font-size: 20px;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(0, 0, 0, 0.787);
            transition: 0.4s ease-in-out;

        }

        p {
            font-size: 15px;
            font-weight: 500;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(0, 0, 0, 0.534);
            width: 86%;
            margin: 25px auto;
            transition: 0.4s ease-in-out;
        }
    }

    .mini-box-2 {
        text-align: center;
        border: 1px solid white;
        margin-top: 25px;
        background: transparent;
        transition: 0.4s ease-in-out;

        &:hover {
            background: linear-gradient(180deg, #ed2775, #ff7448);

            i {
                background: linear-gradient(221.69deg, #50e1e4, #9a60ea 101.01%);
                border-radius: 100px;
                border-bottom-right-radius: 0;

            }

            h1 {
                color: white;
            }

            p {
                color: white;
            }
        }

        i {
            font-size: 25px;
            color: white;
            background: linear-gradient(180deg, #ed2775, #ff7448);
            border-radius: 100px;
            border-top-left-radius: 0;
            padding: 30px 30px;
            margin: 30px;
            animation: carusel 4s ease-in-out infinite;
            transition: 0.4s ease-in-out;
        }

        h1 {
            font-size: 20px;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(0, 0, 0, 0.787);
            transition: 0.4s ease-in-out;

        }

        p {
            font-size: 15px;
            font-weight: 500;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(0, 0, 0, 0.534);
            width: 86%;
            margin: 25px auto;
            transition: 0.4s ease-in-out;
        }
    }

    @keyframes carusel {
        0% {
            border-radius: 100px;
            border-bottom-right-radius: 0;
        }

        25% {
            border-radius: 100px;
            border-bottom-left-radius: 0;
        }

        50% {
            border-radius: 100px;
            border-top-left-radius: 0;
        }

        75% {
            border-radius: 100px;
            border-top-right-radius: 0;
        }

        100% {
            border-radius: 100px;
            border-bottom-right-radius: 0;
        }
    }

    @keyframes carusel2 {
        0% {
            border-radius: 100px;
            border-top-right-radius: 0;
        }

        25% {
            border-radius: 100px;
            border-top-left-radius: 0;
        }

        50% {
            border-radius: 100px;
            border-bottom-left-radius: 0;
        }

        75% {
            border-radius: 100px;
            border-bottom-right-radius: 0;
        }

        100% {
            border-radius: 100px;
            border-top-right-radius: 0;
        }
    }

    
}

// --------------FEATURES END--------------


// ---------------PROGRESS START-------------

.progress{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: transparent;

    .pr-text{

        h1{
            font-size: 15px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #F0366B;
        }

        h2{
            font-size: 40px;
            font-weight: 600;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(0, 0, 0, 0.778);
        }

        p{
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.738);
            margin-top: 20px;
            width: 90%;
        }

        a{
            display: inline-block;
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #fff;
            margin-top: 20px;
            padding: 15px 35px;
            background: linear-gradient(44.44deg,#ed2775 7.79%,#ff7448 94.18%);
            border-radius: 100px;
            transition: 0.4s ease-in-out78-;

            &:hover{
                background: linear-gradient(44.44deg, #ed2775 7.79%, #ed2775 94.18%);
            }
        }
    
    }

    .pr-image{
        margin-top: 20px;
    }
}

// --------------PROGRESS END-----------------